@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Khula";
}

h1 {
    font-family: "Fira Sans";
    font-style: italic;
    color: #0c2329;
}

h2 {
    font-family: "Volkhov";
    font-style: italic;
    color: #093a34;
}

h3 {
    font-family: "Volkhov";
    color: #09c184;
}

#info {
    display: block;
    border-top: 1px solid #0a8967;
}

#navegacion {
    display: grid;
    row-gap: 1%;
    column-gap: 7%;
    grid-template-columns: repeat(4, 1fr);
}

#datos #info {
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    flex-wrap: wrap;
    justify-content: space-between;
}

#datos #info #clave {
    flex-basis: 24%;
}

#datos #info #valor {
    flex-basis: 50%;
}

#datos #info #foto {
    flex-basis: 24%;
    display: flex;
    justify-content: center;
    padding: 1% 0%;
}

#perfil #info {
    display: grid;
    row-gap: 1%;
    column-gap: 7%;
    grid-template-columns: 1fr 1fr;
}

#perfil #info #headdescripcion {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
}

#perfil #info #descripcion {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    margin: 0%;
}

#perfil #info #headintereses {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
}

#perfil #info #interes {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    margin: 0%;
}

#formacion #info, #experiencia #info{
    display: grid;
    padding: 1%;
    grid-template-columns: 1fr 1fr 1fr;
}

#info #fecha {
    grid-column: 1 / 2;
}

#info #lugar {
    grid-column: 2 / 4;
}

.skill-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.skill-level {
    height: 20px;
    background-color: #06bb79;
    border-radius: 5px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #effffb;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
}

input[type="nombres"], input[type="email"], input[type="tel"], textarea {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #07f9a2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

iframe {
    margin: 5px 25%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 450px;
    border: 0;
}

footer {
    text-align: center;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
    position: relative;
    padding: 0% 2%;
    background-color: white;
    border: 1px ridge black;
    border-radius: 8px;
}

body {
    background-color: #f1fff7;
}